body {
  background-image: linear-gradient(rgb(255, 204, 146),rgba(121, 96, 67, 0.2)) !important;
  height:100vh;
  /* background-position: center; */
}

p,h1,h2,h3,h4,h5,h6 {
  color:#333333 !important;
}